<section class="section--sm">
  <div class="container">
    <h1 class="heading">Genres</h1>

    <div class="table-container">
    <table>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="colgroup" colspan="3">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @genres.each do |genre| %>
          <tr>
            <td><%= genre.name %></td>
            <td><%= link_to 'Show', genre %></td>
            <td><%= link_to 'Edit', edit_genre_path(genre) %></td>
            <td><%= link_to 'Destroy', genre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>

    <br>

    <%= link_to 'New genre', new_genre_path, class: "btn btn--primary btn--fit-content" %>
  </div>
</section>