<section class="section--sm">
  <div class="container">
    <h1 class="heading">
      Editing Critic for <%= @critic.criticable_type%>: <%= @critic.criticable.name%>
    </h1>

    <%= render 'shared/criticable_form', critic: @critic %>

    <%= link_to 'Show', @critic %> |
    <%= link_to 'Back', critics_path %>
  </div>
</section>
